.form {
    width: 700px;
    background:#28075e;
    background-size:40px 60px;
  }
.detect{
    transition: all 300ms;
}
.css-button-rounded--sky {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid rgb(172, 0, 163);
  background: rgb(172, 0, 163);
}
.css-button-rounded--sky:hover {
  background: #fff;
  color: rgb(172, 0, 163)
}